@use '../../styles/typography' as *;

.container {
  padding-top: 99px;
  padding-bottom: 99px;
  --padding: 20px;
  background-color: var(--secondary-color-1);
  @media screen and (max-width: 1140px) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  @media screen and (max-width: 768px) {
    padding-top: 38px;
    padding-bottom: 38px;
  }
  .wrapper {
    max-width: calc(1170px + var(--padding) * 2);
    padding-left: var(--padding);
    padding-right: var(--padding);
    width: 100%;
    margin: 0 auto;
    .box {
      border: 10px solid var(--secondary-color-2);
      border-radius: 8px;
      padding-top: 70px;
      padding-bottom: 70px;
      padding-left: min(calc(209 / 1440 * 100vw), 209px);
      padding-right: min(calc(209 / 1440 * 100vw), 209px);
      @media screen and (max-width: 768px) {
        border-width: 4px;
      }
      @media screen and (max-width: 768px) {
        padding-top: 28px;
        padding-bottom: 28px;
        padding-left: 16px;
        padding-right: 16px;
      }
      h4 {
        @include h4Web;
        color: var(--primary-color-4);
        text-align: center;
        @media screen and (max-width: 768px) {
          @include h4MobileBold;
        }
      }
      p {
        @include p2Web;
        color: var(--secondary-color-4);
        margin-bottom: 48px;
        margin-top: 14px;
        text-align: center;
        @media screen and (max-width: 768px) {
          @include p1Mobile;
          margin-bottom: 18px;
          margin-top: 6px;
        }
      }
      .emailBox {
        display: flex;
        justify-content: space-between;
        border-radius: 4px;
        border: 1px solid var(--secondary-color-2);
        border-right: 0;
        @media screen and (max-width: 768px) {
          flex-direction: column;
          border: none;
        }
        .input {
          flex-grow: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          @media screen and (max-width: 768px) {
            height: 44px;
            border-radius: 4px;
            border: 1px solid var(--secondary-color-2);
          }
          .emailIcon {
            width: 26px;
            height: 26px;
            margin-left: 24px;
            @media screen and (max-width: 768px) {
              width: 16px;
              height: 16px;
              margin-left: 12px;
            }
            svg {
              width: 100%;
              height: 100%;
            }
          }
          input {
            width: 100%;
            outline: none;
            border: none;
            height: 100%;
            background-color: transparent;
            color: var(--primary-color-4);
            padding: 10px;
            @include p2Web;
            &::placeholder {
              color: var(--secondary-color-2);
            }
            @media screen and (max-width: 768px) {
              @include p2Mobile;
            }
          }
        }
        .button {
          width: 178px;
          @include h8Web;
          @media screen and (max-width: 768px) {
            @include h5Mobile;
            width: 142px;
            height: 42px;
            margin: 0 auto;
            margin-top: 22px;
          }
        }
      }
    }
  }
}
