@use '../../styles/typography' as *;

.container {
  margin-top: 150px;
  padding-bottom: 150px;
  --padding: 20px;
  background-color: var(--other-color-1);
  position: relative;
  overflow: hidden;
  &::before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100000px;
    height: 150px;
    background-color: var(--primary-color-4);
  }
  @media screen and (max-width: 1140px) {
    margin-top: 100px;
    padding-bottom: 100px;
    &::before {
      height: 100px;
    }
  }
  @media screen and (max-width: 768px) {
    margin-top: 70px;
    padding-bottom: 70px;
    &::before {
      height: 70px;
    }
  }
  .wrapper {
    max-width: calc(1170px + var(--padding) * 2);
    padding-left: var(--padding);
    padding-right: var(--padding);
    width: 100%;
    margin: 0 auto;
    .video {
      width: 100%;
      border-radius: 16px;
      overflow: hidden;
      position: relative;
      margin-bottom: 78px;
      @media screen and (max-width: 768px) {
        margin-bottom: 38px;
      }
      img {
        max-width: 100%;
      }
      .playIcon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        border-radius: 50%;
        width: clamp(36px, calc(120 / 1440 * 100vw), 120px);
        color: var(--primary-color-3);
        transition: all 0.25s;
        svg {
          transform: scale(1);
          transition: all 0.25s;
        }
        &:hover {
          color: var(--primary-color-1);
          svg {
            transform: scale(1.2);
          }
        }
      }
    }
    .contents {
      display: flex;
      @media screen and (max-width: 768px) {
        @include p1Mobile;
        flex-direction: column;
      }
      h2 {
        margin-right: min(calc(146 / 1440 * 100vw), 146px);
        max-width: 440px;
        @include h2Web;
        color: var(--text-color-1);
        padding-top: 22px;
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 70px;
          height: 2px;
          background-color: var(--primary-color-1);
        }
        @media screen and (max-width: 768px) {
          @include h2Mobile;
          &::before {
            width: 38px;
          }
        }
      }
      .description {
        max-width: 359px;
        p {
          color: var(--text-color-2);
          @include p2Web;
          margin-bottom: 38px;
          @media screen and (max-width: 768px) {
            @include p1Mobile;
            margin-bottom: 18px;
            margin-top: 12px;
          }
        }
        .button {
          width: 140px;
          height: 48px;
          @include h8Web;
          @media screen and (max-width: 768px) {
            width: 124px;
            height: 42px;
            @include h5Mobile;
          }
        }
      }
    }
  }
  .videoPlay {
    position: fixed;
    z-index: 10;
    max-width: calc(1170px + var(--padding) * 2);
    width: calc(1210 / 1440 * 100vw);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 100000px rgba(0, 0, 0, 0.75);
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.5s;
    video {
      width: 100%;
      display: block;
    }
    &.hide {
      width: 0;
      box-shadow: none;
    }
  }
}
