@use '../../styles/typography' as *;

.container {
  padding-top: 150px;
  padding-bottom: 150px;
  --padding: 20px;
  background-color: var(--primary-color-4);
  @media screen and (max-width: 1140px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @media screen and (max-width: 768px) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .wrapper {
    max-width: calc(1170px + var(--padding) * 2);
    padding-left: var(--padding);
    padding-right: var(--padding);
    width: 100%;
    margin: 0 auto;
    .slides {
      max-width: 738px;
      margin: 0 auto;
      background-image: url('../../public/images/testimonial-background.png');
      background-size: contain;
      background-repeat: no-repeat;
      h2 {
        @include h2Web;
        max-width: 458px;
        margin: 0 auto;
        color: var(--text-color-1);
        text-align: center;
        @media screen and (max-width: 768px) {
          @include h2Mobile;
        }
      }
      .slideBox {
        display: flex;
        width: 100%;
        position: relative;
        width: 100%;
        height: 450px;
        overflow: hidden;
        box-shadow: 0px 60px 150px -20px rgba(0, 0, 0, 0.04);
        filter: drop-shadow(0px 40px 60px rgba(237, 201, 136, 0.16));
        @media screen and (max-width: 768px) {
          height: 350px;
        }
        .slide {
          border: 1px solid var(--other-color-5);
          text-align: center;
          border-radius: 20px;
          margin-top: 124px;
          padding-top: 94px;
          padding-bottom: 35px;
          position: absolute;
          margin-bottom: 55px;
          top: 0;
          right: 0;
          width: 100%;
          height: 303px;
          transition: all 0.5s;
          @media screen and (max-width: 768px) {
            padding-top: 52px;
            margin-top: 70px;
          }
          .avatar {
            width: 108px;
            margin: 0 auto;
            margin-bottom: 40px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            @media screen and (max-width: 768px) {
              width: 48px;
            }
          }
          p {
            max-width: 509px;
            margin: 0 auto;
            color: var(--text-color-2);
            @include h2SpecWeb;
            margin-bottom: 28px;
            @media screen and (max-width: 768px) {
              @include h2SpecMobile;
            }
          }
          .name {
            color: var(--text-color-1);
            @include h8Web;
            @media screen and (max-width: 768px) {
              @include h7Mobile;
            }
          }
          .job {
            @include p3Web;
            color: var(--text-color-2);
            @media screen and (max-width: 768px) {
              @include p3Mobile;
            }
          }
        }
      }
      .dots {
        margin: 0 auto;
        width: 58px;
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        .dot {
          width: 16px;
          height: 16px;
          border-radius: 50%;
          border: 1px solid var(--other-color-4);
          position: relative;
          cursor: pointer;
          &::before {
            content: '';
            width: 10px;
            height: 10px;
            background-color: var(--primary-color-1);
            position: absolute;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: all 0.3s;
          }
          &:hover,
          &.active {
            &::before {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
