@use '../../styles/typography' as *;

.container {
  --padding: 20px;
  max-width: calc(1170px + var(--padding) * 2);
  padding-left: var(--padding);
  padding-right: var(--padding);
  margin: 0 auto;
  .wrapper {
    height: 90px;
    background-color: var(--primary-color-4);
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 21px;
      .logo {
        width: 78px;
        height: 30px;
        position: relative;
        margin-right: min(calc(70 / 1440 * 100vw), 70px);
      }
      .menu {
        display: flex;
        justify-content: space-between;
        li {
          margin-right: min(calc(42 / 1440 * 100vw), 42px);
          @include p2Web;
          color: var(--text-color-2);
          position: relative;
          cursor: pointer;
          &::after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 0;
            height: 2px;
            background-color: var(--primary-color-1);
          }
          &:hover {
            color: var(--primary-color-1);
            &::after {
              width: 15px;
              transition: all 0.3s;
            }
          }
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      margin-right: 21px;
      .signIn {
        @include h8Web;
        margin-right: min(calc(36 / 1440 * 100vw), 36px);
        cursor: pointer;
        &:hover {
          color: var(--primary-color-1);
          transition: all 0.3s;
        }
        @media screen and (max-width: 567px) {
          @include h6Mobile;
        }
      }
      .signUp {
        color: var(--primary-color-1);
        width: 122px;
        height: 48px;
        background-color: var(--primary-color-2);
        &:hover {
          background-color: var(--primary-color-1);
          color: var(--primary-color-4);
          transition: all 0.3s;
        }
        @media screen and (max-width: 567px) {
          @include h6Mobile;
          width: 70px;
          height: 31px;
        }
      }
      .hamburger {
        display: none;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .wrapper {
      .left {
        margin-left: 0;
        .menu {
          display: none;
        }
      }
      .right {
        margin-right: 0;
        .hamburger {
          display: block;
          margin-left: calc(10 / 375 * 100vw);
        }
      }
    }
  }
}
